body{
    background-image: url(juve.jpg);
    min-height: 100vh ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.dusan-container{
position: absolute;
left: 20%;
top: 50%;
width: 120px;
animation: flappyAnimation 4s infinite;
}

}